// SASS 란?
// CSS를 프로그래밍언어스럽게 작성 가능한 preprocessor

// CSS에서 다음과 같은것 사용 가능케 됨
// 변수, 연산자, 함수, extend, import

// node-sass의 역할
// SASS로 작성된 파일을 다시 CSS로 컴파일 해줌

// SASS 문법
// 1. 변수에 데이터를 저장해서 사용가능
// $변수명 : 변수에 넣을 값
// 2. 공통된 CSS 리셋을 @import 사용하여 분리
// 3. 셀렉터 대신 쓰는 nesting
// 4. 반복된 CSS표현을 복붙하지 말고 @extend 사용
// 5. 함수 사용은 @mixin / @include



// 1. 변수에 데이터를 저장해서 사용가능
$메인칼라: green;
.detailPage {
  color: $메인칼라;
}


// 2. 공통된 CSS 리셋을 @import 사용하여 분리
@import './_reset.scss';


// 3. 셀렉터 대신 쓰는 nesting
div.abc {
  h4 {
    color : blue;
  }
  p {
    color : green;
  }
}
// 위의 코드와 똑같은데 이건 셀렉터 사용한 것
div.abc h4 {
  color: blue;
}
div.abc p {
  color : green;
}


// 5. 함수 사용은 @mixin / @include
@mixin 함수() {
  background: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;

  p {
    margin-bottom: 0;
  }
}


// 4. 반복된 CSS표현을 복붙하지 말고 @extend 사용
.my-alert {
  @include 함수()
}

.my-alert-yellow {
  @extend .my-alert;
  background: #ffe591
}
